@{
    ViewData["Title"] = "Home Page";
}


<div class="curve-mask" id="section-header">
    <div class="curve-down" id="curve-header">
        <section class="curve-content-wrap">
            <div class="section-header">
                <h1>Handy<span>Wings</span></h1>
                <p id="tagline">“ บริการงานซ่อมด้วย<span class="element"></span> ”</p>
                <p id="detail">พลิกมิติใหม่! ให้ระบบไอทีและระบบเครือข่ายสำหรับองค์กรธุรกิจของคุณ</p>
            </div>
        </section>
    </div>
</div>
<div class="header-image">
    <div class="img">
        <img src="~/images/header-image.svg" />
    </div>
</div>

<div class="desc text-center" id="section-mission">
    <div class="title">ภารกิจของเรา</div>
    <p>เรามีความแตกต่างในด้านการให้บริการที่นึกถึงความสัมพันธ์และการเชื่อมโยงกันระหว่างลูกค้า<br />โดยเราคำนึงถึงความต้องการใช้งาน ประโยชน์ใช้สอยและความปลอดภัยในระบบเป็นหลัก<br />อีกทั้งเรามีทีมงานที่มีความเชี่ยวชาญเฉพาะด้านไว้คอยดูแลตลอด 24 ชั่วโมง</p>
</div>
<div class="curve-mask" id="section-service">
    <div class="curve-up" id="curve-service">
        <section class="curve-content-wrap">
            <div class="section-service">
                <div class="title">บริการของเรา</div>
                <p>เราคือทีมงานสมัยใหม่ที่มีความคิดสร้างสรรค์ในการผลิตผลงานและนวัตกรรม<br />เพื่อตอบสนองความต้องการของไลฟ์สไลต์ในโลกยุคดิจิทัล</p>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-service">
                                <div class="icon">
                                    <img src="~/images/service/Software.png" />
                                </div>
                                <div class="service-title">
                                    Software Develop
                                </div>
                                <div class="detail">
                                    Web Application, JAVA, PHP, JSP, Strust2, Hibernate, IOS, Android, MySQL, ORACLE
                                </div>
                                <button>ข้อมูลเพิ่มเติม</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-service">
                                <div class="icon">
                                    <img src="~/images/service/Automated.png" />
                                </div>
                                <div class="service-title">
                                    Automated Tester
                                </div>
                                <div class="detail">
                                    Automated Software Testing , QTP , UFT , Selenium
                                </div>
                                <button>ข้อมูลเพิ่มเติม</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-service">
                                <div class="icon">
                                    <img src="~/images/service/System.png" />
                                </div>
                                <div class="service-title">
                                    System & Network
                                </div>
                                <div class="detail">
                                    We Create Modern And Powerful Html5 And CSS3 Code Easy For Read And Customize.
                                </div>
                                <button>ข้อมูลเพิ่มเติม</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-service">
                                <div class="icon">
                                    <img src="~/images/service/IOT.png" />
                                </div>
                                <div class="service-title">
                                    IOT & Smart Home
                                </div>
                                <div class="detail">
                                    Security , Automation , Idea creatives
                                </div>
                                <button>ข้อมูลเพิ่มเติม</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="curve-mask" style="margin-top: -60px;" id="section-product">
    <div class="curve-up" id="curve-product">
        <section class="curve-content-wrap">
            <div class="section-product">
                <div class="title">ผลงานของเรา</div>
                <p>เราไม่เคยหยุดที่จะมอบประสบการณ์ใหม่ๆให้กับคุณ</p>
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(255, 203, 17,0.2);">
                                    <img src="~/images/product/handywings.png" />
                                </div>
                                <h5 class="product-name">HandyWings</h5>
                                <p>ระบบบริหารจัดการงานซ่อมแซมที่อยู่อาศัยแบบครบวงจร</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(53, 165, 221,0.2);">
                                    <img src="~/images/product/village.png" />
                                </div>
                                <h5>HandyVillages</h5>
                                <p>แอพพลิเคชั่นสนับสนุนการสื่อสารภายในโครงการหมู่บ้าน</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(0, 188, 212,0.2);">
                                    <img src="~/images/product/sic.png" />
                                </div>
                                <h5>Human resource management</h5>
                                <p>เว็บไซต์ระบบบริหารจัดการทรัพยากรบุคคลภายในบริษัท</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(19, 168, 158,0.2);">
                                    <img src="~/images/product/dst.png" />
                                </div>
                                <h5>DST PARNTER</h5>
                                <p>ระบบสนับสนุนสมาชิก DropShoppingThai.com</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(32, 33, 35,0.2);">
                                    <img src="~/images/product/indyThai.png" />
                                </div>
                                <h5>Automated Software Testing</h5>
                                <p>เว็บไซต์โครงการอบรมซอฟต์แวร์อัตโนมัติ</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-product">
                                <div class="cover" style="background-color: rgba(144, 245, 213,0.2);">
                                    <img src="~/images/product/leelawadee.png" />
                                </div>
                                <h5>IOT & Smart Home</h5>
                                <p>ระบบควบคุมอุปกรณ์ใช้ไฟฟ้าในบ้าน ผ่านเครือข่าย Internet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="curve-mask" style="margin-top: -60px;" id="section-team">
    <div class="curve-up" id="curve-team">
        <section class="curve-content-wrap">
            <div class="section-team">
                <div class="title">ทีมงานคุณภาพของเรา</div>
                <div class="hub-slider">
                    <div class="hub-slider-slides">
                        <ul>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="~/images/team/avatar.png" />
                                </div>
                                <h4 class="name">คิจภัค คิดถึงคิษฐ์แคฏฐ์</h4>
                                <h5 class="position">Developer</h5>
                                <div class="social">
                                    <div class="icon">
                                        <img src="~/images/social/facebook-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/twitter-logo.svg" />
                                    </div>
                                    <div class="icon">
                                        <img src="~/images/social/instagram-logo.svg" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="hub-slider-controls">
                        <button class="hub-slider-arrow hub-slider-arrow_next glyphicon glyphicon-chevron-left"></button>
                        <button class="hub-slider-arrow hub-slider-arrow_prev glyphicon glyphicon-chevron-right"></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="section-address" id="section-address">
    <div class="title">ติดต่อเรา</div>
    88/5 หมู่ที่ 8 หมู่บ้านโกลเด้นทาวน์ ปิ่นเกล้า-จรัญสนิทวงศ์ ต.บางกรวย อ.บางกรวย จ.นนทบุรี 11130 <br />
    info@hdw.co.th | 095-526-5868
    <div class="social">
        <div class="icon">
            <img src="~/images/social/facebook-logo.svg" />
        </div>
        <div class="icon">
            <img src="~/images/social/twitter-logo.svg" />
        </div>
        <div class="icon">
            <img src="~/images/social/instagram-logo.svg" />
        </div>
    </div>
</div>